.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
   border-width: 10px;
   background-color: rgb(110, 189, 192);
   border-style: ridge;
   border-color: rgb(123, 170, 179);
}

